.btns {
  border-bottom: 1px solid lightgray;
  padding-bottom: 3%;
}

.btns > .right {
    float: right;
}

table {
  margin-top: 2%;
}

nav {
  text-align: center;
}

.details > ul { padding: 0; }
.details > ul > li { list-style: none; }

.page-cnt {
  text-align: center;
  margin-bottom: 5%;
}
